body, html {
    margin: 0; padding: 0;
    height: 100%; overflow: hidden;
    font-family: sans-serif;
}

#web-container {
    position: relative;
    width: 100%; height: 100%;
}

iframe {
    width: 100%; height: 100%;
    border: none;
}

/* Isko apne batch button ke upar fit karo */
#batchTrigger {
    position: absolute;
    top: 50%; left: 50%; /* Position change kar lena */
    width: 150px; height: 60px;
    opacity: 0; /* Invisible rahega */
    z-index: 10; cursor: pointer;
}

#auth-overlay {
    position: fixed;
    bottom: 30px; width: 100%;
    display: flex; justify-content: center;
    gap: 20px;
}

button {
    padding: 12px 25px;
    border-radius: 8px; border: none;
    background: #007bff; color: white;
    font-weight: bold; cursor: pointer;
}
