body, html  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Faltu ka scroll hatane ke liye */
    background-color: #000;
}

#wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

/* Register Overlay Button */
#registerOverlay {
    position: absolute;
    bottom: 12%; /* Isko apne button ke hisab se upar-neeche kar lena */
    left: 5%;
    width: 90%;
    height: 70px;
    background: rgba(255, 0, 0, 0); /* Poora invisible */
    z-index: 999;
    cursor: pointer;
}
